* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.main-container {
  margin-bottom: 0 !important;
}

nav {
  background-color: #061339;
  font-family: "Merienda", cursive;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

header {
  color: #fff;
  font-family: "Merienda", cursive;
  background: url(./img/background.jpg);
  height: 11rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section centrale */

.middle {
  margin: 3rem auto;
}

.middle__left h2 {
  text-align: center;
  font-family: "Merienda", cursive;
  font-size: 1.5rem;
  color: #2f4073;
}

.middle__left h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

select:focus {
  outline: none !important;
}

.bandeau {
  background-color: #ddd;
}

.bandeau h2 {
  color: #2f4073;
  font-family: "Merienda", cursive;
}

.bandeau img {
  background-color: #7885a5;
  width: 18rem;
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.bandeau img:hover {
  background-color: #061339;
}

footer {
  text-align: right;
  padding: 0 1rem;
  color: #fff;
  background-color: #061339;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
  .middle__left {
    order: 2;
    margin: 2rem 0;
  }

  .bandeau {
    text-align: center;
  }
}
